.home {
  height: 100vh;
  background-color: #270045;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem;
}

.back_ground-img {
  width: 50%;
  height: 100vh;
  display: flex;
  flex: 1;
  position: relative;
  /* top: -80px; */
}

.text_content {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 2rem;
}

.header_text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-weight: bolder; */
  font-size: 70px;
  color: #fff;
  word-spacing: 0px;
}

.agency_text {
  background: linear-gradient(
    to left,
    rgba(56, 239, 125, 1) 0%,
    rgba(17, 153, 142, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: relative;
}
.agency_text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    to left,
    rgba(56, 239, 125, 1) 0%,
    rgba(17, 153, 142, 1) 100%
  );
  bottom: 0;
  left: 0;
}

.paragraph {
  color: #afa7a7;
  font-size: 18px;
}

.hearer {
  background: linear-gradient(
    to left,
    rgba(56, 239, 125, 1) 0%,
    rgba(17, 153, 142, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: relative;
  font-weight: bold;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 0px;
}

.text_icon {
  display: flex;
  align-items: center;
}

.header_icon-arrow {
  color: rgba(17, 153, 142, 1);
}

.paragraph_container {
  margin-top: 20px;
}

.header_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.link_play {
  display: flex;
  align-items: center;
  gap: 10px;
}
.outer_img {
  position: relative;
}

.inner_img {
  position: absolute;
  top: 14px;
  left: 18px;
}

.header_text-watch {
  color: #fff;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 400ms ease;
}

.link_play:hover .header_text-watch {
  color: rgba(17, 153, 142, 1);
}









.social_media {
  height: 100vh;
}

